:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

h4,h5,h6 {
    text-decoration: underline;
}

body {
    padding: 0;
    margin: 0;
    --mantine-color-text: var(--foreground);
    --mantine-color-body: var(--background);
}
